.title {
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color: rgb(5, 9, 236);
}

.players {
    /*padding: 5rem 1rem;*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem 2rem;
    box-sizing: border-box;
}

.player {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 2px rgba(0, 0, 0, .2);
    border: 6px solid transparent;
    border-radius: 5px;
    background-image: url(../../images/Body/img00.jpg);
}

.player:hover {
    border: 4px solid rgb(5, 66, 197);
}

.player_img img {
    width: 310px;
}

img {
    transition: 1.5s;
}

img:hover {
    transform: scale(1.8);
    transition: 1.5s;
    align-items: center;
}

.player_footer {
    padding: 1rem;
}

.player_footer h1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
}

.player_footer p {
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 18px;
}

.player_footer .price {
    font-size: 2rem;
    color: black
}



